<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Chat Radnet Telecom</title>
    <!-- Css Externo -->

    <!-- <link rel="stylesheet" href="../dist/css/emojionearea.min.css"> -->
    <link rel=" stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js"
        integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/estilo.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body class="p-0" id="corpo">

    <div class="container-fluid row p-0 m-0">
        <div class="barra-esquerda vh-100 col-1">

            <div class="mt-5 mb-5 d-flex flex-column align-content-around align-items-center">
                <img src="assets/img/images.jpg" width="50" height="50" style="border-radius: 50%;">
            </div>

            <div class="d-flex flex-column align-content-around align-items-center">


                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
                    data-bs-content="Atendimentos em Andamento">
                    <button type="button" class="btn btn-primary position-relative pt-3 pb-3 mt-3 mb-3">
                        <i class="fas fa-comments"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            99+
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </button>
                </span>

                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
                    data-bs-content="Atendimentos em espera">
                    <button type="button" class="btn btn-light position-relative pt-3 pb-3 mt-3 mb-3">
                        <i class="fas fa-comment"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            99+
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </button>
                </span>

                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
                    data-bs-content="Atendimentos na automação">
                    <button type="button" class="btn btn-light position-relative pt-3 pb-3 mt-3 mb-3">
                        <i class="fas fa-robot"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            99+
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </button>
                </span>


                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
                    data-bs-content="Histórico de atendimento">
                    <button type="button" class="btn btn-light position-relative pt-3 pb-3 mt-3 mb-3">
                        <i class="fas fa-calendar-alt"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            99+
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </button>
                </span>

                <a href="/home">
                    <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
                        data-bs-content="Sair do atendimento">
                        <button type="button" class="btn btn-secondary position-relative pt-3 pb-3 mt-3 mb-3">
                            <i class="fas fa-power-off"></i>
                        </button>
                    </span>
                </a>

            </div>

        </div>


        <!-- inicio do atendimento -->


        <div class="vh-100 col-3 p-3 segunda-barra bg-light" style="min-width: 200px; max-width: 360px">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                <div class="">
                    <h4>Atendimento</h4>
                    <p>que estão em andamento</p>
                </div>
                <div class="d-flex justify-content-end mt-1 mb-3">

                    <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
                        data-bs-placement="bottom" data-bs-content="Ligar/Desligar Notificações">
                        <i class="fas fa-bell ms-2 me-2"></i>
                    </span>
                    <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
                        data-bs-placement="bottom" data-bs-content="Iniciar novo Atendimento">
                        <i class="fas fa-plus  ms-2 me-2"></i>
                    </span>

                </div>
            </div>
            <div class="d-flex jusfity-content-center">
                <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm" placeholder="Encontre o atendimento em andamento">
                </div>
            </div>
            <div class="vh-100" id="clienteMensagens" style='overflow-y: auto'>

                <div class="mt-4"></div>

                <!-- procurar contatos de atendimento -->

                <div class="conversas-chat">

                </div>
                <!--
                <a href='atendimento.php?numeroCliente=$numero[$i]' class='card-link'>
                    <div class='d-flex pop-chat mb-1'>
                        <div class='d-flex justify-content-center align-items-center flex-grow-1'>
                            <img src='assets/img/transferir.png' class='img-chat m-2'>
                        </div>

                        <div class='w-100 m-2'>
                            <div class='d-flex justify-content-between data-hora'>
                                <p> 55985487081 </p>
                                <p> 22/11/1992 </p>
                            </div>

                            <div class='mensagem'>

                                <p> texto</p>
                            </div>

                        </div>
                    </div>
                </a>
                -->

                <!-- procurar contatos de atendimento -->


                <div class="mb-5"></div>
            </div>

        </div>

        <!-- Fim do atendimento -->


        <!-- inicio do chat -->

        <div class="vh-100 col p-0 m-0" style="position: relative">
            <div class="d-flex justify-content-between bg-light">

                <div class="d-flex justify-content-center align-items-center">
                    <div class="">
                        <img src="assets/img/transferir.png" class="img-chat m-2">
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="mt-3 mb-1">
                            <p>(61) 99999-9999<br>
                                (61) 99999-9999 - Offline</p>
                        </div>

                    </div>
                </div>



                <div class="d-flex justify-content-center align-items-center">
                    <div class="mt-3 mb-1">
                        <p>Canal: Radnet - 9999 9999<br>
                            Protocolo: 999999999999</p>
                    </div>
                    <div class="d-flex flex-wrap ms-3 me-3">
                        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
                            data-bs-placement="bottom" data-bs-content="Mensagens Internas">
                            <i class="fas fa-paper-plane  ms-2 me-2"></i>
                        </span>
                        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
                            data-bs-placement="bottom" data-bs-content="Transferir Atendimento">
                            <i class="fas fa-exchange-alt  ms-2 me-2"></i>
                        </span>

                        <div class="dropdown">
                            <i class="fas fa-ellipsis-v dropdown-toggle ms-2 me-2" data-bs-toggle="dropdown"
                                id="dropdownMenuButton1" aria-expanded="false"></i>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Perfil do Cliente</a></li>
                                <li><a class="dropdown-item" href="#">Imprimir Atendimento</a></li>
                                <li><a class="dropdown-item" href="#">Atendimentos Anteriores</a></li>
                                <li><a class="dropdown-item" href="#">Atendimentos Anteriores</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                    <span class="ms-3 mt-3">Encerrar Atendimentos</span>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Com Mensagem</a></li>
                                <li><a class="dropdown-item" href="#">Sem Mensagem</a></li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>

            <div class="back-chat vh-100" style="overflow-y: scroll" id="back-chat">

                <div class=" mt-4"></div>


                <div class="mensagens-chat" id="mensagens-chat">

                </div>


                <div style="height: 170px;"></div>

                <div class=""
                    style=" width: 100%; height: 80px; background-color: #000000; position: absolute; bottom: 0; left: 0;">

                    <div class="d-flex justify-content-center align-items-center bg-light " style="height:80px;">
                        <div class=" row input-group input-group-sm">



                            <form id="chat">

                                <div class="d-flex justify-content-between">
                                    <div class="col-1 d-flex flex-wrap  justify-content-around align-items-center">
                                        <div class="dropdown">

                                            <i class="fas fa-paperclip   dropdown-toggle ms-2 me-2"
                                                data-bs-toggle="dropdown" id="dropdownMenuButton1"
                                                aria-expanded="false"></i>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="#">Contato</a></li>
                                                <li><a class="dropdown-item" href="#">Documento</a></li>
                                                <li><a class="dropdown-item" href="#">Imagem</a></li>
                                            </ul>
                                        </div>

                                        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover"
                                            data-bs-trigger="hover focus" data-bs-placement="top"
                                            data-bs-content="Clique selecionar uma mensagem modelo">
                                            <i class="fas fa-bolt  ms-2 me-2"></i>
                                        </span>
                                    </div>

                                    <!--  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Encontre o atendimento em andamento"> -->

                                    <div class="col-9 d-flex flex-column" style=" height: 20px;">
                                        <input type="text" name="texto" id="buscar">

                                        <!--  <textarea id="textarea" name="texto"></textarea> -->
                                    </div>

                                    <div class="col-2 d-flex flex-wrap justify-content-around">
                                        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover"
                                            data-bs-trigger="hover focus" data-bs-placement="top"
                                            data-bs-content="Gravar áudio">
                                            <i class="fas fa-microphone ms-2 me-2"
                                                style="background-color: silver; padding:8px;border-radius: 50px;"></i>
                                        </span>

                                        <button type="submit"><i class="fas fa-paper-plane text-light" id="enviar"
                                                style="background-color: #1C98DA; padding:8px;border-radius: 50px;"></i></button>
                                    </div>

                                </div>


                            </form>

                            <div class="fechar" style="position: absolute;bottom: 68px; right:9px; ">
                                <div class=""
                                    style="position:relative;left:0; margin-bottom: -30px;margin-right: 10px; text-align:right">
                                    <i class="fas fa-times"></i>
                                </div>

                                <div class="" style="margin:20px;background-color:aqua;padding:20px;">
                                    teste do responder<br>
                                    teste do responder<br>
                                    teste do responder<br>
                                    teste do responder<br>
                                    teste do responder<br>
                                    teste do responder<br>
                                    teste do responder<br>
                                    teste do responder<br>
                                    teste do responder<br>
                                    teste do responder<br>
                                </div>

                            </div>



                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- fim do chat -->



    </div>

    <script type="text/javascript">

        const socket = io("http://localhost:3000"); //colocar o ip do servidor na porta 3000




        function renderMessage(message) {

            //fazer o template da mensagem

            let templateYou = `
            <div class='d-flex flex-column align-items-end m-3'>
                <div class="me-3 ms-3 text-light">      ${message.author}</div>
                <div class='d-flex flex-row-reverse align-items-start justify-content-start opcoes-conversa'>
                    <div class='fundo-text text-wrap'>
                        ${message.message}
                    </div>
                    <div class='botoes'>
                        <div class='dropdown'>
                            <i class='fas fa-ellipsis-v dropdown-toggle ms-2 me-2 text-light'
                                data-bs-toggle='dropdown' id='dropdownMenuButton1' aria-expanded='false'></i>

                            <ul class='dropdown-menu' aria-labelledby='dropdownMenuButton1'>
                                <li><i class='fas fa-copy ms-3'></i> Copiar</li>
                                <li><i class='fas fa-star ms-3'></i> Favoritar</li>
                                <li><i class='fas fa-reply ms-3'></i> Responder</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class='me-3 ms-3' style='max-width: 50%;'>
                    <span class='text-light' style='margin-top:-10px'>$hora <i
                        class='fas fa-check  '></i></span>
                </div>
            </div>
`;

            let templeteOther = `
                    <div class='d-flex flex-column align-items-start m-3'>
                        <div class="me-3 ms-3 text-light">${message.author}</div>
                        <div class='d-flex align-items-start justify-content-start opcoes-conversa'>
                            <div class='fundo-text'>
                                ${message.message}
                            </div>
                            <div class='botoes'>

                                <div class='dropdown'>
                                    <i class='fas fa-ellipsis-v dropdown-toggle ms-2 me-2 text-light'
                                        data-bs-toggle='dropdown' id='dropdownMenuButton1' aria-expanded='false'></i>

                                    <ul class='dropdown-menu' aria-labelledby='dropdownMenuButton1'>
                                        <li><i class='fas fa-copy ms-3'></i> Copiar</li>
                                        <li><i class='fas fa-star ms-3'></i> Favoritar</li>
                                        <li><i class='fas fa-reply ms-3'></i> Responder</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class='me-3 ms-3' style='max-width: 50%;'>
                            <span class='text-light' style='margin-top:-10px'>$hora <i class='fas fa-check'></i></span>
                        </div>
                    </div>
`;

            if (message.author == "556199549624") {
                $('.mensagens-chat').append(templateYou);
            } else {
                $('.mensagens-chat').append(templeteOther);
            }

            //$('.mensagens-chat').append('<div class="message"><strong>' + message.author + '</strong>: ' + message.message + '</div>');

            var objDiv = document.getElementById("back-chat");
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        socket.on('previousMessages', function (messages) {


            const div = $("#mensagens-chat");
            div.empty();
            for (message of messages) {
                renderMessage(message);
            }
        });

        socket.on('receivedMessage', function (message) {
            renderMessage(message);
        });

        socket.on('wppMessage', function (message) {
            renderMessage(message);
        });

        $('#chat').submit(function (event) {
            event.preventDefault();

            var author = "556199549624";
            var message = $('input[name=texto]').val();
            var to_number = '556185487081';
            var session = "Marketing";
            var type = "chat";
            //console.log(moment(new Date().getTime()).format("YYYY-MM-DD HH:mm:ss"));
            var created_at = moment(new Date().getTime()).format("YYYY-MM-DD HH:mm:ss");


            if (message.length) {
                var messageObject = {
                    author: "556199549624",
                    message: message,
                }

                renderMessage(messageObject);
                socket.emit('sendMessage', messageObject);
            }

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
                if (this.readyState === 4) {
                    console.log(this.responseText);
                }
            });

            xhr.open("POST", `http://localhost:3000/enviar?session=${session}&from_number=${author}&to_number=${to_number}&content=${message}&type=${type}&created_at=${created_at}`);

            xhr.send();
            document.getElementById('buscar').value = '';


        });



    </script>

    <script type="module" src="assets/js/conversas.js"></script>
    <script type="module" src="assets/js/carregarConversas.js"></script>

    <script type="text/javascript" src="assets/js/preventF5.js"></script>
    <script type="text/javascript" src="assets/js/recarregar-div.js"></script>
    <script type="text/javascript" src="assets/js/esconder-botoes.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script> -->
    <!--
   <script>
        $('#textarea').emojioneArea({
            pickerPosition: 'top'
        })
    </script>
    -->
</body>

</html>