<%- include('../layout-header-antigo'); -%>


    <div class="row justify-content-center">

        <div class="col-10">

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">

                        <div class="text-center mt-3">
                            <h1>Olá, {nome do atendente}</h1>
                            <p>Seja bem vindo! Aqui você está no controle 😉<br>
                                Use o menu lateral para navegar entre as funcionalidades disponíveis
                            </p>
                        </div>

                        <h5>Gerencie os Canais</h5>
                        <div class="d-flex justify-content-evenly flex-wrap mb-5 mt-2">

                            <div class="d-flex bg-light rounded-3 justify-content-evenly align-items-center p-2 mb-3">
                                <div class="ms-2 me-2">
                                    <img src="assets/img/whatsapp-logo-1.png" width="50" height="50">
                                </div>

                                <div class="ms-1 d-flex justify-content-center align-items-center ms-2 me-2">
                                    Radnet - 9999999<br> (99) 99999 9999
                                </div>


                                <div
                                    class=" d-flex justify-content-center align-items-center bg-success bg-success p-1 rounded ms-2 me-2">
                                    <i class="far fa-check-circle me-1"></i>conectado
                                </div>

                                <div class="btn-group btn-group-sm ms-2 me-2" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-warning dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-bars"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                                        <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="d-flex bg-light rounded-3 justify-content-evenly align-items-center p-2 mb-3">
                                <div class="ms-2 me-2">
                                    <img src="assets/img/whatsapp-logo-1.png" width="50" height="50">
                                </div>

                                <div class="ms-1 d-flex justify-content-center align-items-center ms-2 me-2">
                                    Radnet - 9999999<br> (99) 99999 9999
                                </div>


                                <div
                                    class=" d-flex justify-content-center align-items-center bg-success bg-success p-1 rounded ms-2 me-2">
                                    <i class="far fa-check-circle me-1"></i> conectado
                                </div>

                                <div class="btn-group btn-group-sm ms-2 me-2" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-warning dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-bars"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                                        <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div><!-- /.container-fluid -->
                </div>
                <!-- /.content-header -->

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">

                    </div><!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

        </div>

    </div>

    <%- include('../layout-footer-antigo'); -%>